body {
    background-color: #f0f0f0;
}

header {
    background-color: #4ea93b;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin-top: 10px;
}

.btn1 {
    display: inline-block;
    background-color: #71c55b;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
}

.btn1:hover {
    background-color: #005c00;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 20px;
    }
    .btn1 {
        font-size: 16px;
    }
}
