body {
    background-color: #f0f8ea;
}

header {
    background-color: #4ea93b;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin-top: 10px;
}

section {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #008800;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    background-color: #71c55b;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005c00;
}
